taskbagClient2/xml-resources/web-service-references/Taskbag/wsdl/luka-xubuntu_8080/Taskbag/Taskbag.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://taskbagsv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://taskbagsv/" name="Taskbag">
<types>
<xsd:schema>
<xsd:import namespace="http://taskbagsv/" schemaLocation="http://luka-xubuntu:8080/Taskbag/Taskbag?xsd=1"/>
</xsd:schema>
</types>
<message name="getTask">
<part name="parameters" element="tns:getTask"/>
</message>
<message name="getTaskResponse">
<part name="parameters" element="tns:getTaskResponse"/>
</message>
<message name="putTask">
<part name="parameters" element="tns:putTask"/>
</message>
<message name="putTaskResponse">
<part name="parameters" element="tns:putTaskResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="readTask">
<part name="parameters" element="tns:readTask"/>
</message>
<message name="readTaskResponse">
<part name="parameters" element="tns:readTaskResponse"/>
</message>
<portType name="Taskbag">
<operation name="getTask">
<input wsam:Action="http://taskbagsv/Taskbag/getTaskRequest" message="tns:getTask"/>
<output wsam:Action="http://taskbagsv/Taskbag/getTaskResponse" message="tns:getTaskResponse"/>
</operation>
<operation name="putTask">
<input wsam:Action="http://taskbagsv/Taskbag/putTaskRequest" message="tns:putTask"/>
<output wsam:Action="http://taskbagsv/Taskbag/putTaskResponse" message="tns:putTaskResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://taskbagsv/Taskbag/helloRequest" message="tns:hello"/>
<output wsam:Action="http://taskbagsv/Taskbag/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="readTask">
<input wsam:Action="http://taskbagsv/Taskbag/readTaskRequest" message="tns:readTask"/>
<output wsam:Action="http://taskbagsv/Taskbag/readTaskResponse" message="tns:readTaskResponse"/>
</operation>
</portType>
<binding name="TaskbagPortBinding" type="tns:Taskbag">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="putTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Taskbag">
<port name="TaskbagPort" binding="tns:TaskbagPortBinding">
<soap:address location="http://luka-xubuntu:8080/Taskbag/Taskbag"/>
</port>
</service>
</definitions>